 /* modal container background */
 #modal-left-container{
    background: rgba(235, 87, 87, 0.05);
    border: 1px solid #EB5757;
    border-radius: 16px;
 }
 #modal-right-container{
    background: #FFFFFF;
border: 1px solid #E7E7E7;
border-radius: 16px;
 }

 /* price box */
 #cost-box1{
    background: #FFFFFF;
border-radius: 16px;
color: green;
 }
 #cost-box2{
    background: #FFFFFF;
border-radius: 16px;
color: orange;
 }
 #cost-box3{
    background: #FFFFFF;
border-radius: 16px;
color: red;
 }

 /* close btn */
 #btn-x{
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    /* margin-right: -60px;
    margin-top: -85px; */
    margin-right: -55px;
    margin-top: -88px;
    opacity: 10;
   

 }
 

 @media screen and (max-width: 576px) {
    #btn-x{
        background-color: red;
        border-radius: 50%;
        padding: 10px;
        margin-right: -36px;
        margin-top: -36px;
        /* margin-right: -80px;
        margin-top: -130px; */
        opacity: 10;
  }}

  @media screen and (max-width: 300px) {
    #modal-img-btn{
        font-size: 20%;
        height: auto;
        width: min-content;
        padding: 0;
        
    }
  }